.site-header{
    background-color:#2ecc72;
    color : rgb(238, 240, 245);
    height: 200vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
   
    
}

.site-header-content{
    margin: 10px;

    
}

.profile-pic{
    border-radius: 50%;
     height: 200Px;
     width: 200px;
     box-shadow: #08803c 2px 5px 5px;


    
}
.body{
    margin: 0;
    /* background-color: cornflowerblue; */


}

